.org-svg {
	width: 100px;
	height: 20px;
}

#home-button {
	display: block;
	position: fixed;
	bottom: 0.809em;
	right: 20px;
	font-size: 180%;
	color: #2980b9;
	z-index: 1000;
}
#home-button:hover {
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	#home-button {
		top: 0.809em;
		bottom: initial;
		color: black;
		font-size: 110%;
	}	
}
